@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 210 40% 96.1%;
    --secondary: 210 40% 96.1%;
    --accent: 210 40% 96.1%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --text: 222.2 84% 4.9%;
  }
  .dark {
    --primary: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --accent: 215.3 25% 26.7%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --text: 210 40% 98%;
  }
}
